// #cancel{
//     display:inline;
//     justify-content: left;
//     align-items: left;
// }


.sleepinessData{
    display:inline-block;
    vertical-align: middle;
}

ion-list-header{
    display:block;
    text-align: center;
}

#sleepNum{
    text-size-adjust: 100px;
    text-align:center;
    
}

#sleepString{
    padding-left: 5%;
    padding-right: 5%;

}



// #sleepStringItem{
//     overflow: initial;
// }