<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <a href = "{{resource.category}}/{{resource.id}}" -->
      <ion-button href="overnightsleep">Go to overnight sleep page</ion-button>
      <ion-button href="daysleepiness">Go to daily sleepiness page</ion-button>
  </div>
</ion-content>
