
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-title>Day Sleepiness</ion-title>

      <ion-button (click)='presentModal()' fill="solid" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-daysleepiness-card *ngFor='let card_map of all_cards_map | keyvalue' [sleepinessData]='card_map.value' (click)='editCard(card_map.value)'></app-daysleepiness-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center">
          <ion-button item-start href="home">Back</ion-button>

        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-button item-end color="danger" (click)='confirmDelete()'>Delete all</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
